body {
	background-image: url("../../img/backgrounds/authentication-bg.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	display: grid;
	align-content: center;
}

form {
	max-width: 35%;
	background-color: var(--clr-base-lt);
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1.5em;
	margin: auto;
	padding: 1.8em;
	border-radius: var(--br-default);
}

.form-step {
	min-width: 100%;
	display: none;
}

	.form-step.active-step {
		display: flex;
		flex-direction: column;
		gap: 1.5em;
		animation: active-step 0.3s ease-in-out;
	}

.input-group {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 0.7em;
}

	.input-group input {
		width: 100%;
		padding: 1em;
		outline: none;
		border: none;
		border-radius: var(--br-default);
		font-size: var(--fs-text-sm);
		background-color: var(--clr-base-ltr);
		color: var(--clr-base);
		transition: color 0.1s;
	}

		.input-group input:focus {
			color: var(--clr-ntrl-min);
		}

	.input-group label {
		font-size: var(--fs-label-md);
		font-weight: var(--fw-light);
	}

	.input-group a {
		text-align: end;
		font-size: var(--fs-label-sm);
	}

.input-hint {
	font-size: var(--fs-text-sm);
}

.form-buttons {
	min-width: 100%;
	display: flex;
	justify-content: space-between;
}

	.form-buttons input {
		min-width: 45%;
		padding-block: 0.6em;
		border: none;
		border-radius: var(--br-default);
		background-color: var(--clr-primary);
		font-size: var(--fs-text-md);
		cursor: pointer;
		transition: filter .1s ease-in-out;
	}

		.form-buttons input:hover {
			filter: brightness(80%);
		}

		.form-buttons input:active {
			filter: brightness(90%);
		}

#btn-next {
	margin-left: auto;
}

hr {
	border: none;
	width: 100%;
	height: 1px;
	background-color: var(--clr-base-ltr);
}

@keyframes active-step {
	from {
		opacity: 0;
		transform: skew(5deg);
	}

	to {
		opacity: 1;
		transform: skew(0deg);
	}
}
