<aside>
    <div class="aside-profile">
        <div class="aside-profile-photo">
            <img src="~/img/profile-placeholder.png" alt="Profile photo" />
        </div>
        <p class="aside-profile-name">Hello, Lorem</p>
        <a class="clean-link aside-profile-view" href="#">View profile</a>
    </div>
    <div class="aside-divisor">
        <hr />
    </div>
    <div class="aside-area">
        <p class="area-title">Administration</p>
        <a class="button-group clean-link selected-area" href="#">
            <span class="icon icon-squares"></span>
            <span class="button-text">Dashboard</span>
        </a>
    </div>
    <div class="aside-area">
        <p class="area-title">Statistics</p>
        <a class="button-group clean-link" href="#">
            <span class="icon icon-stockup"></span>
            <span class="button-text">Overall</span>
        </a>
    </div>
    <div class="aside-area">
        <p class="area-title">Managements</p>
        <a class="button-group clean-link" href="#">
            <span class="icon icon-transaction"></span>
            <span class="button-text">Transactions</span>
        </a>
        <a class="button-group clean-link" href="#">
            <span class="icon icon-cards"></span>
            <span class="button-text">Invoices</span>
        </a>
    </div>
    <a class="clean-link aside-logout" asp-controller="Account" asp-action="SignOut">Log out</a>
</aside>