<footer>
    <p>Developed by Henrique Pinto Ferreira Neto</p>
    <div class="footer-icons">
        <a href="#">
            <span class="icon icon-github"></span>
        </a>
        <a href="#">
            <span class="icon icon-linkedin"></span>
        </a>
    </div>
</footer>