@model SignInVM
@{
    Layout = "_LayoutAuthentication";
    ViewData["Title"] = "Sign-In";
}

@section Styles {
    <link rel="stylesheet" href="~/css/Account/SignIn.css" type="text/css" asp-append-version="true" />
}

<form novalidate="novalidate" autocomplete="off" id="sign-in-form">
    <h2>Sign-in</h2>
    <div class="input-group">
        <label asp-for="Email"></label>
        <input type="text" id="email" name="email" placeholder="E.g. loremipsum@dolorsit.com" />
    </div>
    <div class="input-group">
        <label asp-for="Password"></label>
        <input type="password" id="password" name="password" />
        <a asp-controller="Account" asp-action="ForgotPassword">Forgot password?</a>
    </div>
    <div class="checkbox-group">
        <input type="checkbox" id="remember-me"/>
        <label for="remember-me">Remember-me</label>
    </div>
    <input type="button" name="sign-in-submit" value="Sign-in"/> 
    <hr />
    <p>
        Doesn't have an account? <a asp-controller="Account" asp-action="SignUp">Sign-up here</a>.
    </p>
</form>

@section Scripts {
    <script src="~/js/Controllers/Account.js" asp-append-version="true"></script>
    <script type="text/javascript">
        $(() => {
            AccountAPI.initSignIn();
        });
    </script>
}