/*
    Summary:

    CSS UNITS:
    - rem   : Font-sizes;
    - em    : Padding, margin & gap;
    - %, ch : Width in combination with max-width. If height is really necessary, use min-height.
    - px    : Used only for little things, like shadows, borders, etc.
*/

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    /* Base colors and shades */
    --clr-base: #121212;
    --clr-base-lt: #1E1E1E;
    --clr-base-ltr: #292929;

    /* Primary colors and shades */
    --clr-primary: #3D426B;
    --clr-primary-rgb: 61, 66, 107;

    /* Conditional colors and shades */
    --clr-success: #77DD77;
    --clr-success-shade-05: #77dd770c;
    --clr-alert: #FF6961;
    --clr-alert-shade-05: #FF69610c;
    --clr-info: #3D426B;
    --clr-info-shade-05: #3D426B0c;

    /* Neutrals */
    --clr-ntrl-max: #000000;
    --clr-ntrl-min: #FFFFFF;

    /* Font sizes */
    --fs-label-sm: 0.8rem;
    --fs-label-md: 0.9rem;
    --fs-text-sm: 0.9rem;
    --fs-text-md: 1.1rem;

    /* Font weights */
    --fw-light: 300;

    /* Borders */
    --br-default: 4px;

    /* Icons */
    --icon-sm: 24px;
    --icon-md: 28px;
    --icon-lg: 32px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Red Hat Diplay', sans-serif;
    color: var(--clr-ntrl-min);
}

body {
    background-color: var(--clr-base);
    min-height: 100vh;
}

.main-wrapper {
    width: 100%;
    min-height: 100vh;
    padding: 1.1rem;
    display: grid;
    grid-template-columns: 2fr 7fr;
    gap: 1.1em;
}

/* <a> Modifiers */
.clean-link {
    text-decoration: none;
}

/* Icons */
.icon {
    width: var(--icon-lg);
    height: var(--icon-lg);
    display: block;
    background-size: 90%;
    background-position: center;
    background-repeat: no-repeat;
}

.icon-squares { background-image: url("../img/icons/icon-squares.svg"); }
.icon-stockup { background-image: url("../img/icons/icon-stockup.svg"); }
.icon-transaction { background-image: url("../img/icons/icon-transaction.svg"); }
.icon-cards { background-image: url("../img/icons/icon-cards.svg"); }
.icon-github { background-image: url("../img/icons/icon-github.svg"); }
.icon-linkedin { background-image: url("../img/icons/icon-linkedin.svg"); }